---
- name: Ensure git is installed
  apt:
    name: git
    state: present
  become: true

- name: Ensure python3-pip is installed
  apt:
    name: python3-pip
    state: present
  become: true

- name: Ensure python3-venv is installed
  apt:
    name: python3-venv
    state: present
  become: true

- name: Clone fruits-veg_market repo
  git:
    repo: 'https://github.com/techbleat/fruits-veg_market.git'
    dest: /opt/fruits-veg_market
    version: main
    force: true

- name: Create Python virtual environment
  command: python3 -m venv /opt/fruits-veg_market/backend-api/venv
  args:
    creates: /opt/fruits-veg_market/backend-api/venv/bin/activate

- name: Install Python requirements in virtualenv
  pip:
    requirements: /opt/fruits-veg_market/backend-api/requirements.txt
    virtualenv: /opt/fruits-veg_market/backend-api/venv

- name: Deploy backend with FastAPI using uvicorn
  command: >
    /opt/fruits-veg_market/backend-api/venv/bin/uvicorn main:app
    --host 0.0.0.0 --port 8000 --reload
  args:
    chdir: /opt/fruits-veg_market/backend-api
  async: 0
  poll: 0
  become: true
