---
- name: Deploy FastAPI Backend via SSM
  hosts: localhost
  gather_facts: false
  vars:
    ansible_python_interpreter: /usr/bin/python3
    backend_repo: "https://github.com/techbleat/fruits-veg_market.git"
    backend_path: "/opt/fruits-veg_market/backend-api"
  tasks:
    - name: Include backend role
      include_role:
        name: backend
