---
- name: Configure Frontend Server with Nginx
  hosts: web
  gather_facts: true
  become: true
  #roles::
   # - frontend

  tasks:
    - name: Check if the repo folder exists
      stat:
        path: /home/ubuntu/fruits-veg_market
      register: repo_check

    - name: clone git using command
      command: git clone --single-branch -b mini-project https://github.com/techbleat/fruits-veg_market.git 
      when: not repo_check.stat.exists

    - name: print wd
      command: pwd 
        
    - name: list wd
      command: ls 

    - name: update index.html
      replace:
        path: /home/ubuntu/fruits-veg_market/frontend/index.html
        regexp: 'http://[^"]+/api/products'
        replace: '/api/products'

    - name: install nginx
      package:
        name: nginx
        state: absent

    - name: install nginx
      package:
        name: nginx
        state: present

    - name: restart nginx
      service:
        name: nginx
        state: started
        enabled: yes

 
    - name: check if nginx ubuntu file exists
      ansible.builtin.stat:
        path: /var/www/html/index.nginx-debian.html
      register: index_file

    - name: Backup index.nginx.html manually
      command: sudo mv /var/www/html/index.nginx-debian.html /var/www/html/index.nginx.html
      when: index_file.stat.exists

    - name: copy index.html file
      copy:
        src: /home/ubuntu/fruits-veg_market/frontend/index.html
        dest: /var/www/html/index.html
        remote_src: yes

    - name: copy nginx config file
      template:
        src: default.j2
        dest: /etc/nginx/sites-available/default

    - name: restart nginx service
      service:
        name: nginx
        state: restarted
        enabled: yes  










#- hosts: backend
#  roles:
#    - frontend


